<div class="panel">
    <div class="panel-body">
        <form name="form" novalidate>
            <div class="form-group">
                <label>Ready Script</label>
                <select ng-model="$ctrl.script" class="form-control"
                ng-options="script.file as script.title for script in $ctrl.scripts"></select>
            </div>
            <div class="form-group">
                <label for="code" >Jython Console</label>
                <textarea name="code" id="code" class="form-control" ng-model="$ctrl.code"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger" ng-click="$ctrl.execute()">Run</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.execute()">Clear Console</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.execute()">Clear Result</button>
            </div>
            <div class="form-group">
                <label for="result" >Result</label>
                <textarea name="result" class="form-control" ng-model="$ctrl.result" rows="5"></textarea>
            </div>
        </form>
    </div>
</div>